@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Bold.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Bold.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Bold.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Black Italic'), local('HelveticaNeue-BlackItalic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BlackItalic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BlackItalic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BlackItalic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BlackItalic.svg#HelveticaNeue-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Bold Italic'), local('HelveticaNeue-BoldItalic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BoldItalic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BoldItalic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Black'), local('HelveticaNeue-Black'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Black.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Black.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Black.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Black.svg#HelveticaNeue-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Heavy'), local('HelveticaNeue-Heavy'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Heavy.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Heavy.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Italic'), local('HelveticaNeue-Italic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Italic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Italic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Italic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Light'), local('HelveticaNeue-Light'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Light.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Light.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Light.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Medium'), local('HelveticaNeue-Medium'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Medium.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Medium.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Medium.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Heavy Italic'), local('HelveticaNeue-HeavyItalic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-HeavyItalic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-HeavyItalic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-HeavyItalic.svg#HelveticaNeue-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Light Italic'), local('HelveticaNeue-LightItalic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-LightItalic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-LightItalic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Medium Italic'), local('HelveticaNeue-MediumItalic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-MediumItalic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-MediumItalic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-MediumItalic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Thin'), local('HelveticaNeue-Thin'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Thin.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Thin.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Thin.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('HelveticaNeue-Roman'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Roman.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Roman.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Roman.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Thin Italic'), local('HelveticaNeue-ThinItalic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-ThinItalic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-ThinItalic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-ThinItalic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-ThinItalic.svg#HelveticaNeue-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Ultra Light'), local('HelveticaNeue-UltraLight'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLight.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLight.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Ultra Light Italic'), local('HelveticaNeue-UltraLightItalic'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLightItalic.woff') format('woff'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLightItalic.ttf') format('truetype'),
        url('fonts/helvetica-neue-5/HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}




@import url("flaticon.css");
@import url("animate.css");
@import url("owl.css");
@import url("jquery-ui.min.css");
@import url("jquery.fancybox.min.css");
@import url("jquery.bootstrap-touchspin.css");


body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    background-color: black;
}

.hero-section {
    background-image: url('../images/hero/hero_banner.png');
    height: calc(100vh - 70px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 50px;
}

.navbar {
    width: 100%;
    z-index: 1;
}



.navbar-nav .nav-link {
    color: white !important;
    margin-right: 20px;
}

.logo {
    height: 40px;
}

.form-control {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}

.form-control::placeholder {
    color: white;
}

.btn-outline-light {
    border-radius: 20px;
    padding: 10px 30px;
}

.categories-section {
    background-color: white;
}

.category-item {
    position: relative;
    overflow: hidden;
}

.category-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-item-overlay h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.category-item-overlay .btn {
    border-radius: 20px;
    padding: 10px 30px;
}

.trending-section {
    background-color: white;
}

.trending-item {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 450px;
}

.trending-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-banner {
    background-color: #d90429;
}

.happy-customers {
    background-color: #ffffff;
}

.footer-links {
    background-color: #f2f2f2;
}

.footer-links h5 {
    color: #d90429;
    font-weight: bold;
}

.footer-links a {
    color: #000;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #e5e5e5;
}
